name: Maven Build and Test

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      working-directory: ./application
      run: mvn clean install --no-transfer-progress

    - name: Run tests with Maven
      working-directory: ./application
      run: mvn test --no-transfer-progress

    - name: Generate Surefire test report
      if: success() || failure()
      working-directory: ./application
      run: mvn surefire-report:report

    - name: Upload test results (JUnit)
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: junit-test-results
        path: application/target/surefire-reports
